
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.venv/
env/
venv/
build/
dist/
*.egg-info/

# VSCode / PyCharm
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Env & local data
.env
.env.*
vector_data/
state/
sample_data/gold/
logs/
